*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {

}

body {
    background: linear-gradient(to bottom, );
    background-size: cover;
    font-family: 'Rubik', sans-serif;
}

.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}
