*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --services: #db627d;
    --rate: #9b348e;
    --check: #8343d3;
    --audio: #f9755b;
    --bg: #091d3b;
    --bg-front: #132646;
}

body {
    background: url("nov7bg.svg") center no-repeat;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 0 10px;
}

.container .card {
    background-color: var(--audio);
    min-height: 150px;
    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
    transition: all 0.8s ease;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.container .card.au {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container .card.exp {
    width: 500px;
}

.container .card.str {
    width: 550px;
}

.container .card.ch {
    width: 450px;
}

@media screen and (max-width: 550px) {
    .container .card.au, .container .card.exp, .container .card.str,
    .container .card.ch {
        width: 90vw;
    }
}

.container .card .audio-box {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    opacity: 0;
    transition: all 0.8s ease;
    transform: translateY(100%);
}

.container .card .audio-box .line {
    background-color: #fff;
    width: 75px;
    height: 2px;
    margin-top: 25px;
    opacity: 0;
    transition: all 0.6s ease;
}

@media screen and (max-width: 690px) {
    .container .card .audio-box .line {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .container .card .audio-box {
        scale: 0.8;
    }
}

.container .card .audio-box .round {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    transition: all 0.8s ease;
    width: 120px;
}

.container .card .audio-box .round .icon {
    animation: pulsate-icon 1.5s ease infinite;
}

.container .card .audio-box .round .icon img {
    transition: all 0.4s ease;
}

@keyframes pulsate-icon {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.container .card .audio-box .round#video, .container .card .audio-box .round#perf {
    opacity: 0;
}

.container .card .audio-box .round .check-a {
    height: 55px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    aspect-ratio: 1/1;
    place-items: center;
    display: none;
    opacity: 0;
    transition: all 0.4s ease;
    margin-bottom: 14px;
}

.container .card .audio-box .round .check-a img {
    height: 25px;
}

.container .card .exp-box {
    display: none;
    opacity: 0;
    transition: all 0.8s ease;
    transform: translateY(100%);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 32px;
    color: white;
    height: 100%;
    width: 100%;
    padding: 32px;
}

.container .card .exp-box .header {
    font-size: 24px;
}

.container .card .exp-box .rating {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.container .card .exp-box .rating span {
    height: 35px;
    display: grid;
    place-items: center;
    border-radius: 100%;
    aspect-ratio: 1/1;
    transition: all 0.2s ease;
    user-select: none;
    cursor: pointer;
}

.container .card .exp-box .rating span:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.container .card .exp-box .rating span.active {
    background-color: rgba(255, 255, 255, 0.4);
}

.container .card .exp-box .next {
    text-align: right;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease;
}

.container .card .exp-box .next button {
    padding: 10px 24px;
    border-radius: 20px;
    color: var(--rate);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.container .card .star {
    display: none;
    opacity: 0;
    transition: all 0.8s ease;
    transform: translateY(100%);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 56px 32px;
    position: relative;
}

.container .card .star .header {
    font-size: 24px;
    color: white;
}

.container .card .star .star-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
    color: white;
}

.container .card .star .star-flex span {
    height: 45px;
    aspect-ratio: 1/1;
    transition: all 0.2s ease;
    display: grid;
    place-items: center;
    border-radius: 100%;
}

.container .card .star .star-flex span:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.container .card .star .star-flex span.active {
    background-color: rgba(255, 255, 255, 0.4);
}

.container .card .star .text {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.container .card .star .next {
    position: absolute;
    bottom: 10%;
    right: 10%;
    text-align: right;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease;
}

.container .card .star .next button {
    padding: 10px 24px;
    border-radius: 20px;
    color: var(--services);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.container .card .check {
    height: 100%;
    width: 100%;
    transition: all 0.8s ease;
    transform: translateY(100%);
    display: none;
    opacity: 0;
    flex-direction: column;
    gap: 32px;
    padding: 56px 32px;
    position: relative;
}

.container .card .check .header {
    font-size: 24px;
    color: white;
}

.container .card .check ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;
    padding: 0;
}

.container .card .check ul li {
    color: white;
    font-size: 18px;
}

.container .card .check .next {
    position: absolute;
    bottom: 10%;
    right: 10%;
    text-align: right;
    width: 100%;
    transition: all 0.2s ease;
}

.container .card .check .next button {
    padding: 10px 24px;
    border-radius: 20px;
    color: var(--check);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.container .card .thanks {
    height: 100%;
    width: 100%;
    place-items: center;
    font-size: 24px;
    color: white;
    opacity: 0;
    display: none;
    transition: all 0.8s ease;
    transform: translateY(100%);
}